body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr;

  grid-template-columns: 1fr 2fr;
  grid-template-rows:
    minmax(100px, auto)
    minmax(100px, auto)
    1fr
    minmax(100px, auto);

  grid-template-areas:
    "header  header"
    "sidebar nav"
    "sidebar article"
    "footer  footer";
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
  grid-area: header;
}

.sidebar {
  background-color: #005b94;
  grid-area: sidebar;
}

.nav {
  background-color: #642cde;
  grid-area: nav;
}

.article {
  background-color: #7e1dc3;
  grid-area: article;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
